body{
    background-color:#D6EFED
}

img{
    
    height: 200px;
}

hr{
    border-style: none; 
   border-top-style: dotted;
   border-color: grey; 
    border-width: 5px;
    width: 5%;

}
h1,h2{
    color:#66BFBF
}
